page-alarm-model {
  @keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }

    50% {
      transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
      transform: scale3d(1, 1, 1);
    }
  }

  .pulse {
    color: red;
    animation: pulse 3s infinite;
  }

  .alarm_image {
    max-width: 100%;
    vertical-align: middle;
  }

  .destination {
    font-size: 3rem;
  }

  ion-icon {
    font-size: 64px;
  }
}
